<!DOCTYPE html>
<html lang="en" ng-app="obitosctrl">
<head >
    <title >Acidente</title >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head >
<body>
<div ng-controller>
    <div class="col-md-3 container">
        <h1>hello</h1>
    </div>
    <div class="col-md-9 container">
        <h1>teste</h1>
    </div>
</div>



<script src="/node_modules/angular/angular.min.js"></script>
<script src="/javascripts/obitos.js"></script>
</body>
</html>